.logoutButton {
  padding: 0.5rem 1.5rem;
  background-color: crimson;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "vazir";

  &:hover {
    background-color: darkred;
  }
}
